{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | SwedeSweets{% endblock %}

{% block content %}
  {% url 'business_portal:catalog_add_product' product.id as add_url %}
  {% trans "Add to order" as add_label %}
  {% include "includes/catalog/product.html" %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/tabs.js' %}" defer></script>
  <script src="{% static 'js/quantity-stepper.js' %}" defer></script>
  <script src="{% static 'js/catalog_detail.js' %}" defer></script>
{% endblock %}
