{% extends "layouts/error.html" %}

{% block error_title_text %}Account inactive{% endblock %}
{% block code %}Inactive{% endblock %}
{% block error_title %}Account inactive{% endblock %}

{% block message %}
  This account can no longer access SwedeSweets Ops. If you believe this is
  a mistake, contact your SwedeSweets manager or the person responsible for
  account access.
{% endblock %}

{% block action %}
  <a class="button button--md button--solid button--tone-place page__submit" href="{% url 'login' %}">
    Back to login
  </a>
{% endblock %}
