{% extends "base.html" %}

{% block title %}
Products
{% endblock %}

{% block content %}
<div class="container">

  <h1>Products</h1>

  {% for category in categories %}

    <div class="stack">

      <h2>{{ category.name|title }}</h2>

      <div class="grid">

        {% for product in category.active_products %}

          <a href="{{ product.get_absolute_url }}" class="card-link">

            <div class="card">

              {% if product.image %}
                <img src="{{ product.image.url }}">
              {% else %}
                <div class="no-image">No image</div>
              {% endif %}

              <div class="card-name">
                {{ product.name|title }}
              </div>

              <div class="card-code">
                #{{ product.code }}
              </div>

            </div>

          </a>

        {% endfor %}

      </div>

    </div>

  {% endfor %}

</div>
{% endblock %}
