{% extends "base.html" %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="container">

  <a href="{% url 'product_list' %}">← Back</a>

  {% if not product.is_active %}
    <div class="notice">
      Not available for ordering
    </div>
  {% endif %}

  {% if product.image %}
    <img src="{{ product.image.url }}" class="product-image">
  {% endif %}

  <div class="stack">

    <h2>{{ product.name|title }}</h2>

    <p class="product-meta">
      #{{ product.code }}
    </p>

    {% if product.description %}
      <div class="product-section">
        <h3>Description</h3>
        <p>{{ product.description }}</p>
      </div>
    {% endif %}

    {% if product.ingredients %}
      <div class="product-section">
        <h3>Ingredients</h3>
        <p>{{ product.ingredients }}</p>
      </div>
    {% endif %}

  </div>

</div>
{% endblock %}
