{% extends "base.html" %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}

<section class="page-section page-section--narrow">
  <article class="container">

    <!-- BACK -->
    <div class="left">
      <a href="{% url 'product_list' %}" class="link back-link">
        ← Back
      </a>
    </div>

    {% if not product.is_active %}
      <div class="notice">
        Not available for ordering
      </div>
    {% endif %}

    {% if product.image %}
      <img src="{{ product.image.url }}" class="product-image">
    {% endif %}

    <div class="stack">

      <h1 class="page-title">{{ product.name|title }}</h1>

      <p class="product-meta">
        #{{ product.code }}
      </p>

      {% if product.description %}
        <section class="product-section">
          <h3>Description</h3>
          <p>{{ product.description }}</p>
        </section>
      {% endif %}

      {% if product.ingredients %}
        <section class="product-section">
          <h3>Ingredients</h3>
          <p>{{ product.ingredients }}</p>
        </section>
      {% endif %}

    </div>

  </article>
</section>

{% endblock %}
