{% extends "storefront/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Catalog" %} | SwedeSweets{% endblock %}

{% block content %}
  {% trans "Catalog" as catalog_title %}
  {% include "includes/catalog/grid.html" with product_cards=product_cards title=catalog_title csrf_token=csrf_token only %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/quantity-stepper.js' %}" defer></script>
  <script src="{% static 'js/status_burst.js' %}" defer></script>
  <script src="{% static 'js/catalog.js' %}" defer></script>
{% endblock %}
